<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="OSI.Core.Types"/>
  </extensions>

  <variable name="defaultLayout" value="${longdate} ${uppercase:${level}} ${logger} ${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"/>

  <targets>
    <target name="f" xsi:type="ArchiveFile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${defaultLayout}" />
    <target name="f_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/${shortdate}_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="jobs" xsi:type="ArchiveFile" fileName="${basedir}/logs/jobs/${event-properties:item=JobName}/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${event-properties:item=JobName} ${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}" />
    <target name="jobs_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/jobs/${event-properties:item=JobName}/${shortdate}_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="job" layout="${event-properties:item=JobName}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="jobs_error" xsi:type="ArchiveFile" fileName="${basedir}/logs/jobs/${event-properties:item=JobName}/${shortdate}_error.log"
            layout="${longdate} ${uppercase:${level}} ${event-properties:item=JobName} ${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}" />
    <target name="jobs_error_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/jobs/${event-properties:item=JobName}/${shortdate}_error_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="job" layout="${event-properties:item=JobName}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="service" xsi:type="ArchiveFile" fileName="${basedir}/logs/services/${logger:shortName=true}/${shortdate}.log"
            layout="${defaultLayout}" />
    <target name="service_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/services/${logger:shortName=true}/${shortdate}_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="service_error" xsi:type="ArchiveFile" fileName="${basedir}/logs/services/${logger:shortName=true}/${shortdate}_error.log"
            layout="${defaultLayout}" />
    <target name="service_error_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/services/${logger:shortName=true}/${shortdate}_error_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="controller" xsi:type="ArchiveFile" fileName="${basedir}/logs/controllers/${logger:shortName=true}/${shortdate}.log"
              layout="${defaultLayout}" />
    
    <target name="controller_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/controllers/${logger:shortName=true}/${shortdate}_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="controller_error" xsi:type="ArchiveFile" fileName="${basedir}/logs/controllers/${logger:shortName=true}/${shortdate}_error.log"
              layout="${defaultLayout}" />
    
    <target name="controller_error_json" xsi:type="ArchiveFile" fileName="${basedir}/logs/controllers/${logger:shortName=true}/${shortdate}_error_json.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="c_jobs" xsi:type="ArchiveFile" fileName="${basedir}/logs/jobs/${logger:shortName=true}/${shortdate}.log"
            layout="${defaultLayout}" />

    <target name="c_jobs_error" xsi:type="ArchiveFile" fileName="${basedir}/jobs/services/${logger:shortName=true}/${shortdate}_error.log"
            layout="${defaultLayout}" />
  </targets>

  <rules>
    <logger name="JobService" minlevel="Info" maxlevel="Info" writeTo="jobs_json" />
    <logger name="JobService" minlevel="Debug" maxlevel="Info" writeTo="jobs" final="true" />
    <logger name="JobService" minlevel="Error" writeTo="jobs_error,jobs_error_json" final="true"/>

    <logger name="OSI.Core.*Svc" minlevel="Info" maxlevel="Info" writeTo="service_json" />
    <logger name="OSI.Core.*Svc" minlevel="Debug" maxlevel="Info" writeTo="service" final="true" />
    <logger name="OSI.Core.*Svc" minlevel="Error" writeTo="service_error,service_error_json" final="true"/>

    <logger name="OSI.Core.*Controller" minlevel="Info" maxlevel="Info" writeTo="controller_json" />
    <logger name="OSI.Core.*Controller" minlevel="Debug" maxlevel="Info" writeTo="controller" final="true" />
    <logger name="OSI.Core.*Controller" minlevel="Error" writeTo="controller_error,controller_error_json" final="true"/>

    <logger name="OSI.Core.*Job" minlevel="Debug" maxlevel="Info" writeTo="c_jobs" final="true" />
    <logger name="OSI.Core.*Job" minlevel="Error" writeTo="c_jobs_error" final="true"/>

    <logger name="*" minlevel="Info" writeTo="f_json" />
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>
